{% extends 'base.html' %}

{% block content %}
<h2>Language Arts and Literature</h2>

<p>This lecture talks about how to communicate appropriately.

Important concepts:

  <ul>
    <li> in/auspicious words
    <li> cultural scripts
    <li> elaborate expressions
    <li> honouring expressions
    <li> humbling expressions
    <li> proverbs and sayings &mdash; <i>peribahasa, chengyu</i>
    <li> speech styles
</ul>

<blockquote class="blockquote">
  <p class="mb-0"><i>Malu bertanya sesat jalan, malu berkayuh perahu hanyut.</i>
  <p class="mb-0">If you're shy to ask you will get lost, if you refuse to paddle your canoe will drift.
</blockquote>


<blockquote class="blockquote">
  <p class="mb-0">
狡兔三窟 <i>jiǎotùsānkū</i>
  <p class="mb-0">A crafty rabbit has three burrows

     <footer class="blockquote-footer"><a href = 'https://en.wiktionary.org/wiki/狡兔三窟'>Feng Xuan</a> in Annals of the Warring States</footer>
</blockquote>
   
<h3>Readings and Resources</h3>


<p> Slides: <a href="{{ url_for('static', filename='pdf/verbal-arts.pdf')}}">Communication and Culture</a>

<p>The reading is Goddard, Chapter 7: <i>The art of speaking</i>
  
{% endblock %}
