{% extends 'base.html' %}

{% block content %}
<h2>Language Arts and Literature</h2>

<p>This lecture talks about how to communicate appropriately.

Important concepts:

  <ul>
    <li> in/auspicious word
    <li> cultural script
    <li> elaborate expression
    <li> honouring expression
    <li> humbling expression
    <li> proverbs and sayings &mdash; <i>peribahasa, chengyu</i>
    <li> speech style
</u>

<h3>Readings and Resources</h3>


<p> Slides: <a href="{{ url_for('static', filename='pdf/verbal-arts.pdf')}}">Communication and Culture</a>

<p>The reading is Goddard, Chapter 7: <i>The art of speaking</i>
  
{% endblock %}
