{% extends 'base.html' %}

{% block content %}
<h2>Asian Englishes</h2>

<p>Important concepts:

  <ul>
    <li> Colonial Legacy
    <li> Code-Switching and Code-Mixing
    <li> Lexical Borrowing (including idioms)
    <li> Adapted Grammar
    <li> Unique Pronunciation Features
    <li> Pragmatic Particles
    <li> Local Idioms and Expressions
    <li> Diglossia (formal and informal varieties)
  </ul>
<h4>Videos</h4>
  
<ul>
  <li><a href="https://youtu.be/5wIrrfYPP7U">Singaporean Language</a> Fakkah Fuzz
  <li><a href="https://youtu.be/VHiSLCUPsEw">Hong Kong English</a> from Insurance Add
   <li><a href="https://youtu.be/yDb_WsAt_Z0">Australian Abbreviations</a> Hi Josh
</ul>

  <h3>Readings and Resources</h3>


<p> Slides: <a href="{{ url_for('static', filename='pdf/englishes.pdf')}}">World &amp; Asian Englishes</a>

<p> Bolton, Kingsley. (2012). World Englishes and Asian Englishes: A survey of the field. In <i> English as an International Language in Asia: Implications for Language Education</i> <a href='http://dx.doi.org/10.1007/978-94-007-4578-0_2'>0.1007/978-94-007-4578-0_2</a>.
<p>Kingsley Bolton, Werner Botha, Andy Kirkpatrick, eds (2020) <a href='http://dx.doi.org/10.1002/9781118791882'>10.1002/9781118791882</a>
  John Wiley & Sons, Inc.
  
  {% endblock %}
