{% extends 'base.html' %}

{% block content %}
<h2>Language families, multilingualism, official languages</h2>

<p>This lecture goes into more detail about the current state of languages in SEA.

<p>Important concepts:

  <ul>
    <li>language family
    <li>language isolate
    <li>linguistic area
    <li>Austronesian
    <li>Mon-Khmer (Austroasiatic)
    <li>Sinitic
    <li>Tai-Kadai
    <li>Tibeto-Burman
    <li>Hmong-Mien
  </ul>
  <h3>Readings and Resources</h3>


<p> Slides: <a href="{{ url_for('static', filename='pdf/languages.pdf')}}">Languages of South East Asia and China</a>

<p>The reading is Goddard, Chapter 2.
  
<ul>
  <li>Cliff Goddard (2005). <i>The Languages of East and Southeast Asia: An Introduction</i>. Oxford, UK: Oxford University Press.
ISBN: 9780199248605
</ul>  

{% endblock %}
