{% extends 'base.html' %}

{% block content %}
<h2>Characteristic features of the languages of East and Southeast Asia</h2>
<p>This lecture goes into more detail about grammatical topics.

  <h3>Key technical terms</h3>
  <ul>
<li>Verb-related Concepts</li>
<ul>
  <li>Aspect</li>
  <li>Imperfective</li>
  <li>Perfective</li>
  <li>Progressive</li>
  <li>Tense</li>
  <li>Modality</li>
</ul>

<li>Topic and Subject Structures</li>
<ul>
  <li>Double subject construction</li>
  <li>Subject</li>
  <li>Topic</li>
  <li>Topic-prominent</li>
  <li>Trigger</li>
</ul>

<li>Classifiers and Constructions Involving Counting/Measurement</li>
<ul>
  <li>Classifier</li>
  <li>Classifier float</li>
  <li>Measure construction</li>
  <li>Repeater construction</li>
  <li>Unit counter construction</li>
</ul>

<li>Verb Serialization and Constructions</li>
<ul>
  <li>Loose serialization</li>
  <li>Tight serialization</li>
  <li>Serial verb construction</li>
</ul>

<li>Sentence Structure and Particles</li>
<ul>
  <li>Sentence-final particle</li>
  <li>Verb-preposition</li>
</ul>

<li>Semantics and Reference</li>
<ul>
  <li>Referential (non-referential)</li>
  <li>Specific (non-specific)</li>
  <li>Prototype</li>
  <li>Radial polysemy</li>
</ul>
</ul>
  
  <h3>Readings and Resources</h3>


<p> Slides: <a href="{{ url_for('static', filename='pdf/features.pdf')}}">Grammatical Features</a>

<p>The reading is Goddard, Chapter 4.
  
<ul>
  <li>Cliff Goddard (2005). <i>The Languages of East and Southeast Asia: An Introduction</i>. Oxford, UK: Oxford University Press.
ISBN: 9780199248605
</ul>


{% endblock %}
