{% extends 'base.html' %}

{% block content %}
<h2>Minority languages of Southeast and East Asia</h2>

<p>In this week I introduce fieldwork on documenting, understanding, learning from and preserving the Abui Language.  The principal researcher is František Kratchovíl, but many, many people are involved.

  <div class="container mt-5">
    <figure class="d-flex flex-column align-items-center">
      <div class="embed-responsive embed-responsive-16by9 w-75">
	<iframe width="350" height="197" src="https://www.youtube.com/embed/mvzwbatLo-M" title="Abui - Language, Identity, People" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	      </div>

	<figcaption class="mt-2 text-center">Abui - Language, Identity, People</figcaption>
	
    </figure>
  </div>
  
  <h3>Readings and Resources</h3>
  <ul>
    <li> Slides: <a href="{{ url_for('static', filename='pdf/abui.pdf')}}">Doing things together:
multimodal &amp; multidisciplinary
fieldwork experiences from eastern Indonesia</a> (Kratchovíl et al., 2021)
    <li> <a href='https://www.youtube.com/@abuihanoting8710'>Abui Hanoting</a>: A collection of videos about the Abui tribe in Alor Island, Indonesia. This channel consists of Abui interviews, stories, and general recordings of people, and environment.
    <li> <a href='https://www.youtube.com/watch?v=2fOmVaYOgT8'>Abui, Takpala, Alor</a> Video by Gary Bevan (2013)
    <li> <a href='https://compling.upol.cz/omw/'>Open Multilingual Wordnet</a>
  </ul>
      
{% endblock %}
