{% extends 'base.html' %}

{% block content %}
<h2>Presentation of seminar work topics and its structure</h2>

<p>This week you will briefly present the topics of your seminar papers. The agreed rules for seminar papers are as follows:

<ul>
  <li> Seminar papers can be written in a group of max. 3 students (e.g. as in presentations) or individually.
  <li> Group seminar work should be proportionally more extensive, e.g. min. 7 pages without literature.
  <li> The individual seminar paper should be at least 5 pages long.
  <li> The choice of topic is completely free, but the topic will be approved in the last lesson in week 13.
  <li> Seminar work can be overview (research), research, creative, etc.
  <li> The submission deadline is eight weeks after the last lecture (end of day, anywhere in the world).
</ul>


  {% endblock %}
