{% extends 'base.html' %}

{% block content %}
<h2>Presentation of seminar work topics and its structure</h2>

<p>This week you will briefly present the topics of your seminar papers.

<h3>Presentation</h3>
<ul>
   <li> Presentations can be done in a group of max. 3 students or
   individually.
  <li> The choice of topic is free, but the topic should be approved
  before the lesson in week 12.
  <li> There will be 10 minutes, 7 for presentation, 3 for QA
  <li> <span class='bg-warning'>Upload your paper one day before presentation.</span>
  <li> <b>Formatting</b>
    <ul>
      <li>Please make sure your names are on the slides
      <li>Please add page numbers to each slide (except optionally the first one)
    </ul>
</ul>
	

<h3>Paper</h3>


<ul>
  <li> Seminar papers can be written in a group of max. 3 students (e.g. as in presentations) or individually.
  <li> Normally it should be the same as your presentation, although
  if you decide you reaaly want to do something else, email me.
  <li> The individual seminar paper should be at least 5 pages long.
  <li> Group seminar work should be proportionally more extensive,
    e.g. 5-6 pages for one student; 7-8 pages for two, 9-10 pages for 3, not
    including references.

  <li> Seminar work can be overview (research), research, creative, etc.
  <li>  <span class='bg-warning'>The submission deadline is end of January
    (end of day, anywhere in the world).
  <li> Submit pdf via moodle
  <li> <b>Formatting</b></span>
    <ul>
      <li> The paper should be 5-10 A4 pages, depending on how many
      students, and include the title, date and your name(s) on the first
      page, you do not need a separate title page.
      <li>The paper should be single spaced.
 <li>If you want to make it even more beautiful, as I am sure you do,
    take a look at my <a href =
			 "https://fcbond.github.io/static/img/ling-style.pdf">(Computational)
      Linguistic Style Guidelines</a>: a guide for the flummoxed.	
    </ul>
</ul>


  {% endblock %}
