{% extends 'base.html' %}

{% block content %}
<h2>Tone in Asian Languages</h2>

<p>Guest Lecture by Lian Hee Wee (Hong Kong Baptist)

<p>Drawing largely on his own research as published in Phonological Tone (CUP 2019) and Complexity in the Phonology of Tone (CUP 2023, with Mingxing Li), this introductory lecture offers a glimpse of the kinds of tonal patterns found in Asian languages. Yip (2002:1) estimates that about two-thirds of the world’s languages are tonal. Among the Asian languages, most tonal languages are found in East Asia (i.e. mainly modern China) and mainland Southeast Asia (Burma, Vietnam, Thai, Laos), going almost as far as India. As will be seen in these languages, tones can be rather complex in their structures, involving multiple pitch heights that combine to produce contours. These tones may undergo alternation known as tone sandhi, often determined in part by the morphosyntactic contexts. As we look at some
  of these patterns, we shall also see how tones correlate with syllable structures
that in turn explain how tones evolved in human languages.

<p> <strong>Slides</strong>: <a href="{{ url_for('static', filename='pdf/tone-Lian-Hee.pdf')}}">Tone in Asian Languages</a>,  Lian-Hee Wee (2024)

  
<h3>References</h3>
  
<ul>
  <li> Lian-Hee Wee (2019)
    <i>Phonological Tone</i> Cambridge University Press
  <li> Lian-Hee Wee  and Mingxing Li (2023)
    <i>Complexity in the Phonology of Tone </i> Cambridge University Press.
  <li> Moira Yip (2002)
    <i>Tone</i> Cambridge University Press.
  </ul>
  
{% endblock %}
