{% extends 'base.html' %}

{% block content %}
<h2>Vocabulary and what we can learn from it</h2>

<p>This lecture goes into more detail about the current state of languages in SEA.

<p>Important concepts:

  <ul>
    <li>calque
    <li>cultural key word
    <li>ethnocentrism
    <li>indigenization
    <li>lexical stratum (strata)
    <li>loan word
    <li>phonological adaptation
    <li>polysemy
    <li>semantic specialization
  </ul>


<p>Let's have a go with <a href='https://docs.google.com/spreadsheets/d/1_BBdBbkUbLhfkeGUPf-QtuYZHh1g2KlT_qdLbs7vib4/edit?usp=sharing'>this data</a> from the Tokyo University of Foreign Studies basic vocabulary.
  <ul>
    <li>Copy the spreadsheet so you can manipulate it
    <li>Pick a language, e.g. Japanese
    <li>Keep the languages you think will be relevant, e.g. English, Chinese, Portuguese
    <li>Move them together (delete the others or move to another sheet if things are slow)
    <li>Make a new column called <code>source</code>
    <li>Go through the words and guess the source.
      <br> e.g. Japanese ギター "guitar", is probably from Portuguese guitarra or English guitar, ...
      <br> So write: en, pt in the source column
      <br> e.g. Japanese 銀行 is probably from Chinese 银行 (but could be the other way round)
       <br> So write: zh in the source column
  </ul>
      

  <h3>Readings and Resources</h3>


<p> Slides: <a href="{{ url_for('static', filename='pdf/words.pdf')}}">Words: origins, structures, meanings</a>

<p>The reading is Goddard, Chapter 3.
  
<ul>
  <li>Cliff Goddard (2005). <i>The Languages of East and Southeast Asia: An Introduction</i>. Oxford, UK: Oxford University Press.
ISBN: 9780199248605
</ul>  

{% endblock %}
