{% extends 'base.html' %}

{% block content %}
<h2>Vocabulary and what we can learn from it</h2>

<p>This lecture goes into more detail about the current state of languages in SEA.

<p>Important concepts:

  <ul>
    <li>calque
    <li>cultural key word
    <li>ethnocentrism
    <li>indigenization
    <li>lexical stratum (strata)
    <li>loan word
    <li>phonological adaptation
    <li>polysemy
    <li>semantic specialization
  </ul>

  <h3>Readings and Resources</h3>


<p> Slides: <a href="{{ url_for('static', filename='pdf/words.pdf')}}">Words: origins, structures, meanings</a>

<p>The reading is Goddard, Chapter 3.
  
<ul>
  <li>Cliff Goddard (2005). <i>The Languages of East and Southeast Asia: An Introduction</i>. Oxford, UK: Oxford University Press.
ISBN: 9780199248605
</ul>  

{% endblock %}
