{% extends 'base.html' %}

{% block content %}
<h2>Writing, its origin, spread and adaptation</h2>

<p>This lecture goes into more detail about writing systems in  SEA.

<p>Important concepts:

  <ul>
    <li>alphabetic/segmental
    <li>calligraphy
    <li>featural
    <li>logographic
    <li>phonographic
    <li>syllabic
  </ul>

<h3>Readings and Resources</h3>


<p> Slides: <a href="{{ url_for('static', filename='pdf/writing.pdf')}}">Writing Systems</a>

<p>The reading is Goddard, Chapter 6.  I also strongly recommend the omniglot web site: <a href='https://omniglot.com/'>omniglot.com</a>. 

 
  
{% endblock %}
